# VITE_API_URL=https://sjcreativeworksdashboard.onrender.com
# VITE_SOCKET_URL=https://sjcreativeworksdashboard.onrender.com

VITE_API_URL=https://sjcreativeworksdashboard.onrender.com/api
VITE_SOCKET_URL=https://sjcreativeworksdashboard.onrender.com